<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.castillo.matices.orders">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OrdersApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orders"
        android:usesCleartextTraffic="true">
        <activity android:name=".sections.add_stamp.AddStampActivity"></activity>
        <activity android:name=".sections.add_products.AddProductActivity" />
        <activity
            android:name=".sections.order_detail.OrderDetailActivity"
            android:label="@string/title_activity_order_detail" />
        <activity android:name=".sections.add_order.AddOrderActivity" />
        <activity android:name=".sections.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>